<%- include('../layouts/adminheader') %>

<h2 class="page-title">Edit product</h2>
<a href="/admin/products" class="btn btn-primary">Back to all products</a>
<br><br>

<form method="post" action="/admin/products/edit-product/<%= id %>" enctype="multipart/form-data">
    
    <div class="form-group">
        <label for="">Product ID</label>
        <input type="text" class="form-control" name="productID" value="<%= productID %>" placeholder="Enter Product ID" required>
    </div>
    
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    
    <div class="form-group">
        <label for="">Description</label>
        <textarea name="description" class="form-control" cols="30" rows="10" placeholder="Description"><%= description %></textarea>
    </div>
    
    <div class="form-group">
        <label for="">Category</label>
        <select name="category" class="form-control">
            <% categories.forEach(function(cat){ %>
                <option value="<%= cat.slug %>"
                <% if (cat.slug == category) { %>
                selected="selected"
                <% } %>        
                ><%= cat.title %></option>
            <% }); %>
        </select>
    </div>

    <div class="form-group">
            <label for="">Main Category</label>
            <select name="mainCategory" class="form-control">
                <% mainCategories.forEach(function(cat){ %>
                    <option value="<%= cat.slug %>"
                    <% if (cat.slug == mainCategory) { %>
                    selected="selected"
                    <% } %>        
                    ><%= cat.title %></option>
                <% }); %>
            </select>
        </div>
    
    
    <div class="form-group">
        <label for="">Main Image</label>
        <p>
            <% if (product.mainImage == "") { %>
            <img id="noimage" src="/images/apples1.jpg" alt="">
            <% } else {%>
            <img id="noimage" src="/product_images/<%= id %>/<%= product.mainImage %>" alt="">
            <% } %>
        </p>
    </div>
    
    <div class="form-group">
        <label for="">Upload new Main Image</label>
        <input type="file" class="form-control" name="mainImage" id="img">
        <img src="#" id="imgPreview" alt="">
    </div>

    <div class="form-group">
        <label for="">Thumbnail Image 1</label>
        <p>
            <% if (product.thumbImage1 == "") { %>
            <img id="noimage" src="/images/apples1.jpg" alt="">
            <% } else {%>
            <img id="noimage" src="/product_images/<%= id %>/<%= product.thumbImage1 %>" alt="">
            <a class="confirmDeletion" href="/admin/products/delete-image/<%= product.thumbImage1 %>?id=<%= id %>">delete</a>
            <% } %>
        </p>
    </div>
    
    <div class="form-group">
        <label for="">Upload new Thumnail Image</label>
        <input type="file" class="form-control" name="thumbImage1" id="img1" accept="image/*">
        <img src="#" id="imgPreview1" alt="">
    </div>

    <div class="form-group">
        <label for="">Thumbnail Image 2</label>
        <p>
            <% if (product.thumbImage2 == "") { %>
            <img id="noimage" src="/images/apples1.jpg" alt="">
            <% } else {%>
            <img id="noimage" src="/product_images/<%= id %>/<%= product.thumbImage2 %>" alt="">
            <a class="confirmDeletion" href="/admin/products/delete-image/<%= product.thumbImage2 %>?id=<%= id %>">delete</a>
            <% } %>
        </p>
    </div>
    
    <div class="form-group">
        <label for="">Upload new Thumnail Image</label>
        <input type="file" class="form-control" name="thumbImage2" id="img2" accept="image/*">
        <img src="#" id="imgPreview2" alt="">
    </div>

    <div class="form-group">
        <label for="">Thumbnail Image 3</label>
        <p>
            <% if (product.thumbImage3 == "") { %>
            <img id="noimage" src="/images/apples1.jpg" alt="">
            <% } else {%>
            <img id="noimage" src="/product_images/<%= id %>/<%= product.thumbImage3 %>" alt="">
            <a class="confirmDeletion" href="/admin/products/delete-image/<%= product.thumbImage3 %>?id=<%= id %>">delete</a>
            <% } %>
        </p>
    </div>
    
    <div class="form-group">
        <label for="">Upload new Thumbnail Image</label>
        <input type="file" class="form-control" name="thumbImage3" id="img3" accept="image/*">
        <img src="#" id="imgPreview3" alt="">
    </div>
    
    <!-- <input type="hidden" name="pimage" value="<%= mainImage %>">
    <input type="hidden" name="pimage1" value="<%= thumbImage1 %>">
    <input type="hidden" name="pimage2" value="<%= thumbImage2 %>">
    <input type="hidden" name="pimage3" value="<%= thumbImage3 %>"> -->
    <button class="btn btn-primary">Submit</button>
</form>

<hr>
<!-- <h3 class="page-header">Gallery</h3>

<ul class="gallery">
    <% galleryImages.forEach(function(image){ %>
    <% if (image != "thumbs" && image != "recommendation") { %>
    <li>
        <img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="">&nbsp;
        <a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>?id=<%= id %>">delete</a>
    </li>
    <% } %>
    <% }); %>
</ul>

<br><br>
<form action="/admin/products/product-gallery/<%= id %>" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
    <div class="fallback">
        <input type="file" name="file" multiple>
        <input type="submit" value="Upload">
    </div>
</form> -->

<!-- <hr>
<h3 class="page-header">Recommendation</h3>

<ul class="gallery">
    <% galleryImages.forEach(function(image){ %>
    <% if (image != "thumbs" && image != "recommendation" && image != "redshirt2.jpg" && image != "redshirt3.jpg" && image != "redshirt4.jpg" && image != "redshirt5.jpg") { %>
    <li>
        <img src="/product_images/<%= id %>/gallery/recommendation/<%= image %>" alt="">&nbsp;
        <a class="confirmDeletion" href="/admin/products/delete-recommendation/<%= image %>?id=<%= id %>">delete</a>
    </li>
    <% } %>
    <% }); %>
</ul>

<br><br>
<form action="/admin/products/product-recommendation/<%= id %>" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
    <div class="fallback">
        <input type="file" name="recofile" multiple>
        <input type="submit" value="Upload">
    </div>
</form> -->

<br>
<!-- <a href="/admin/products" class="btn btn-primary">Edit Done</a> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>
<script>  
    // Preview image
 
    function readURL(input) {
        // First image
        
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                console.log(e)
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL1(input) {
        // Second image
        if (input.files && input.files[0]) {
            var reader1 = new FileReader();
            
            reader1.onload = function(e) {
                console.log(e)
                $("#imgPreview1").attr('src', e.target.result).width(100).height(100);
            }
            
            reader1.readAsDataURL(input.files[0]);
        }
    }
    function readURL2(input) {
        // Third image
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $("#imgPreview2").attr('src', e.target.result).width(100).height(100);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURL3(input) {
        // Fourth image
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $("#imgPreview3").attr('src', e.target.result).width(100).height(100);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#img").change(function() {
        readURL(this);
    });
    $("#img1").change(function() {
        readURL1(this);
    });
    $("#img2").change(function() {
        readURL2(this);
    });
    $("#img3").change(function() {
        readURL3(this);
    });
    
    
    // Dropzone
    // Dropzone.options.dropzoneForm = {
    //     acceptedFiles: "image/*",
    //     init: function() {
    //         this.on("queuecomplete", function(file) {
    //            setTimeout(function() {
    //             location.reload()
    //             }, 1000); 
    //         });
    //     }
    // }
    
</script>

<%- include('../layouts/adminfooter') %>