<%- include('../layouts/adminheader') %>

<h2 class="page-title">Products</h2>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <h3>Categories</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="/admin/products">All products</a></li>
            <% categories.forEach(function(c){ %>
                <li class="list-group-item"><a href="/admin/products/<%= c.slug %>"><%= c.title %></a></li>
            <% }); %>
        </ul>
    </div>
    
<div class="col-xs-12 col-md-9">   
<a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
<br><br>

<% if (count > 0) { %>

<table class="table table-striped alignmiddle">

    <thead>
        <tr class="home">
            <th>Product</th>
            <th>Category</th>
            <th>Main Category</th>
            <th>Product Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){ %>
        <tr>
            <td><%= product.title %></td>
            <td><%= product.category %></td>
            <td><%= product.mainCategory %></td>
            <td>
                <% if (product.image == "") { %>
                <img id="noimage" src="/images/noimage.png">
                <% } else {%>
                <img id="noimage" src="/product_images/<%= product._id %>/<%= product.mainImage %>">
                <% }%>
            </td>
            <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else {%>
<h3 class="text-center">There are no products.</h3>
<% }%>
</div>
</div>

<%- include('../layouts/adminfooter') %>