<%- include('../layouts/adminheader') %>
<h1>Search results</h1>


<% if (count > 0) { %>

    <table class="table table-striped alignmiddle">
    
        <thead>
            <tr class="home">
                <th>Product</th>
                <th>Category</th>
                <th>Main Category</th>
                <th>Product Image</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product){ %>
                <% if (product.itemtype == "Product") { %> 
                <tr>
                    <td><%= product.title %></td>
                    <td><%= product.category %></td>
                    <td><%= product.mainCategory %></td>
                    <td>
                        <% if (product.image == "") { %>
                        <img id="noimage" src="/images/noimage.png">
                        <% } else {%>
                        <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                        <% }%>
                    </td>
                </tr>
                <% } else if (product.itemtype == "Category") { %>
                <tr>
                    <td><%= product.title %></td>
                    <td><%= product.mainCategory %></td>
                </tr>
                <% } else {%>
                    <tr>
                        <td><%= product.title %></td>
                    </tr>
                <% }%> 
            <% }); %>
        </tbody>
    </table>
    
    <% } else {%>
    <h3 class="text-center">There are no products for this search result.</h3>
    <% }%>

<%- include('../layouts/adminfooter') %>